<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>

  <link rel="stylesheet" href="assets/css/header.css">
</head>

<body>

<header class="site-header">

  <div class="header-container">

    <div class="logo-area">
      <img src="assets/images/web_logo.png" class="logo">
      <span class="brand-name">SafarTechlabLLP</span>
    </div>

    <div class="menu-toggle" id="menuToggle">☰</div>

    <nav class="nav-menu" id="navMenu">
      <a href="index.html">Home</a>
      <a href="about.html">About Us</a>
      <a href="services.html">Services</a>
      <a href="careers.html">Careers</a>
      <a href="contact.html">Contact Us</a>
    </nav>

  </div>

</header>

</body>
</html>